@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Catamaran&family=Dancing+Script&family=Dosis&family=Inter&family=Nunito&family=Pacifico&family=Poppins:ital@0;1&display=swap');


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding:20px;
  font-family: var(--font-family);
  grid-column: 2/-1;
  width: 100%;
}
header h2{
  color: white;
}
header button{
  background: var(--btn-color);
  color: white;
  padding:10px 15px;
  border-radius: 20px;
  border: none;
}
header .fa-ellipsis-v{
  color: rgb(164, 164, 164);
  font-size: large;
}

header .add-new-task{
  display: flex;
  align-items: center;
  gap:10px;
}

