*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #21212d;
  overflow: hidden;
}

:root {
  --main-color: #373745;
  --font-color: #bdbdbd;
  --btn-color: #625ecc;
  --font-family: "Poppins", sans-serif;
}
